button {
    width: 80px;
    height: 50px;
}

button:hover {
    cursor: pointer;
}

#display {
    width: 94%;
    height: 40px;
    border: none;
    background-color: rgb(165, 163, 163);
}

#display::placeholder {
    color: white;
    font-size: 1.25rem;
    text-align: right;
    padding: 8px;
}

.operators {
    background-color: rgb(255, 179, 0);
}

#zero {
    width: 165px;
}

#keyboard {
    width: 350px;
    margin-top: 50px;
    margin-left: 40%;
}